.gridButton {
    background-color: white;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slot {
    width: 75px;
    height: 75px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center; 
 /*   background: -webkit-radial-gradient(circle, transparent 25px, yellow 25px);
    background: -moz-radial-gradient(circle, transparent 25px, yellow 25px); */
}

.token {
    background-color: transparent;
    width: 60px;
    height: 60px;
    margin-bottom: 0px;
    border-radius: 60px;
    z-index: -1;
}

.buttonDiv {
    width: 50px;
    height: 50px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons {
    background-color: rgb(64, 64, 64);
    font-size: 16px;
    color: white;
    border: none;
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 3px;
}

.resetButton {
    background-color: rgb(64, 64, 64);
    font-size: 16px;
    color: white;
    border: none;
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 3px;
}

.slotTopLeft {
    border-top-left-radius: 10px;
}

.slotTopRight {
    border-top-right-radius: 10px;
}
.slotBottomLeft {
    border-bottom-left-radius: 10px;
}

.slotBottomRight {
    border-bottom-right-radius: 10px;
}

/* SAK CSS classes */

.gameGrid {
    width:            525px;
    height:           450px;
    justify-content:  flex start;
    align-items:      flex-end;
}

.gameBoard {
   width:            525px;
   height:           450px;
   display:          flex;
   justify-content:  flex start;
   align-items:      flex-end;
   flex-wrap:        wrap-reverse;
}

.welcomeBox {
   background-color:       #0FF;
}

.replayBox {
   width:                   300px;
   height:                  200px;
   background-color:       rgba(0, 255, 255, 0.5);
   position:                absolute;
   margin-top:              125px;
   margin-left:             113px;
   z-index:                 10;
   justify-content:         center;
   align-items:             center;
}

.playButton {
   background-color:       #9F0;
}

.replayButton {
   background-color:        #9F0;
}

@keyframes bounce {
   0% {
   	transform:translateY(0%);
   }
   50% {
     	transform:translateY(-30%);
   }
   100% {
      transform:translateY(0%);
   }
}

.replayButton {
   background-color:        #9F0;
}

@keyframes bounce {
   0% {
   	transform:translateY(0%);
   }
   50% {
     	transform:translateY(-30%);
   }
   100% {
      transform:translateY(0%);
   }
}
